{% extends 'base.html' %} {% block title %}Plaza Delfino | Contacto{% endblock
%} {% block content %}
<section class="contact-hero">
  <div class="hero-content">
    <p class="eyebrow center">Atención exclusiva</p>
    <h1>Contacto</h1>
    <div class="hero-line"></div>
  </div>
</section>

<section class="contact-overlap">
  <div class="container">
    <div class="bottom-contact-grid">
      <div class="hours-card">
        <h3>Nuestros Horarios</h3>

        <div class="hour-line">
          <span>Recepción</span>
          <strong>24 Horas</strong>
        </div>

        <div class="hour-line">
          <span>Spa & Wellness</span>
          <strong>08:00 — 22:00</strong>
        </div>

        <div class="hour-line">
          <span>Restaurante Gourmet</span>
          <strong>13:00 — 00:00</strong>
        </div>
      </div>

      <div class="social-card">
        <h3>Síganos en la Riviera</h3>
        <p>
          Descubra el estilo de vida Plaza Delfino a través de nuestros canales
          oficiales.
        </p>

        <div class="social-links">
          <a href="#">Instagram</a>
          <a href="#">LinkedIn</a>
          <a href="#">Facebook</a>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
